                                    ------
                                    Introduction
                                    ------
                                    sameas4j
                                    ------
                                     2012

~~
~~   Copyright 2010-2012 The 99 Software Foundation
~~
~~   Licensed under the Apache License, Version 2.0 (the "License");
~~   you may not use this file except in compliance with the License.
~~   You may obtain a copy of the License at
~~
~~       http://www.apache.org/licenses/LICENSE-2.0
~~
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.
~~

Introduction

  The Web of Data has many equivalent URIs. 
  {{{http://sameas.org}sameas.org}} is a service helps you to 
  find co-references between different data sets.

  SameAs4J is a tiny and lightweight library that allows you to integrate the
  {{{http://sameas.org}sameas.org}} service in your <Semantic Web> Java
  applications.

Before coding

  <sameas4j> is deployed on Maven Central repository, so users have just to add
  the <sameas4j> dependency in their <<<pom.xml>>>:

+--------------------------------------+
<dependencies>
  ...
  <dependency>
    <groupId>${project.groupId}</groupId>
    <artifactId>${project.artifactId}</artifactId>
    <version>${project.version}</version>
  </dependency>
  ...
</dependencies>
+--------------------------------------+

  alternatively, users can add <sameas4j> dependency in the <dependencyManagement>
  block:

+--------------------------------------+
<dependencyManagement>
  <dependencies>
    ...
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
    </dependency>
    ...
  </dependencies>
</dependencyManagement>
+--------------------------------------+

  Users are now ready to have fun with it!!!
